// Import Google Fonts
  @import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,700,900);

// Base Brand Colors
  $bc-primary: #FFFFFF;
  $bc-secondary: #ff0000;
  $fc-primary: #000000;
  $fc-secoondary: #008F86;
  $fc-tertiary: #AEAEAE;


// Base Font Format
  $base-font-family: 'Merriweather', serif;
  $base-font-size: 1em;
  $base-font-print-header: 1.2em;
  $base-font-print-text: 1em;
  $base-font-line-height: 1.5em;


// Base Font Weights
  $light: 300;
  $light-italic: 300italic;
  $normal: 400;
  $bold: 700;
  $bold-ultra: 900;

// Base Styling Treatments
  $grid-margin: 1em;
  $grid-padding: 1em;


// Base Format
html {
  background-color: $bc-primary;
  box-sizing: border-box;
  font-family: $base-font-family;
  font-size: 12px;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: $fc-primary;
  text-decoration: none;
}

img {
  height: 100%;
  width: 100%;
}

ul {
  list-style: none;
}


// Content
.site-content {
  margin: 0 auto;
  max-width: 1600px;
}

.grid-column {
  column-fill: auto;

  @media (min-width: 600px) {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }

  @media (min-width: 960px) {
    -webkit-column-count: 4;
       -moz-column-count: 4;
            column-count: 4;
  }
}

.grid-item {
  display: inline-block;
  overflow: hidden;
  text-align: center;

  img {
    width: 100%;
  }

  h1 {
    color: $fc-secoondary;
    font-size: $base-font-print-header;
    font-weight: $bold;
    line-height: $base-font-line-height;
  }

  h2 {
    color: $fc-tertiary;
    font-size: $base-font-print-text;
    font-weight: $light;
    line-height: $base-font-line-height;
  }

  h3 {
    color: $fc-tertiary;
    font-size: $base-font-print-text;
    font-weight: $light;
    line-height: $base-font-line-height;
  }
}